# Ignore virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.vscode/

# Log or output files
*.log
*.csv
*.zip
*.pkl

# Untracked folders
/untracked/


